#e37mFRGIlBt4_to {
  animation: e37mFRGIlBt4_to__to 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt4_to__to {
  0% {
    transform: translate(763.75px, 241.798004px);
  }
  28.571429% {
    transform: translate(763.75px, 281.8px);
  }
  85.714286% {
    transform: translate(400px, 281.8px);
  }
  100% {
    transform: translate(400px, 281.8px);
  }
}
#e37mFRGIlBt4_ts {
  animation: e37mFRGIlBt4_ts__ts 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt4_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  28.571429% {
    transform: scale(1, 1);
  }
  85.714286% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(2, 2);
  }
}
#e37mFRGIlBt7_to {
  animation: e37mFRGIlBt7_to__to 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt7_to__to {
  0% {
    transform: translate(681.083008px, 301.798004px);
  }
  28.571429% {
    transform: translate(681.083008px, 281.8px);
  }
  85.714286% {
    transform: translate(400px, 281.8px);
  }
  100% {
    transform: translate(400px, 281.8px);
  }
}
#e37mFRGIlBt7_ts {
  animation: e37mFRGIlBt7_ts__ts 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt7_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  28.571429% {
    transform: scale(1, 1);
  }
  85.714286% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(2, 2);
  }
}
#e37mFRGIlBt10_to {
  animation: e37mFRGIlBt10_to__to 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt10_to__to {
  0% {
    transform: translate(598.416992px, 101.797997px);
  }
  28.571429% {
    transform: translate(598.416992px, 281.8px);
  }
  85.714286% {
    transform: translate(400px, 281.8px);
  }
  100% {
    transform: translate(400px, 281.8px);
  }
}
#e37mFRGIlBt10_ts {
  animation: e37mFRGIlBt10_ts__ts 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt10_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  28.571429% {
    transform: scale(1, 1);
  }
  85.714286% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(2, 2);
  }
}
#e37mFRGIlBt13_to {
  animation: e37mFRGIlBt13_to__to 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt13_to__to {
  0% {
    transform: translate(515.75px, 341.798004px);
  }
  28.571429% {
    transform: translate(515.75px, 281.8px);
  }
  85.714286% {
    transform: translate(400px, 281.8px);
  }
  100% {
    transform: translate(400px, 281.8px);
  }
}
#e37mFRGIlBt13_ts {
  animation: e37mFRGIlBt13_ts__ts 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt13_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  28.571429% {
    transform: scale(1, 1);
  }
  85.714286% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(2, 2);
  }
}
#e37mFRGIlBt16_to {
  animation: e37mFRGIlBt16_to__to 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt16_to__to {
  0% {
    transform: translate(433.083008px, 141.798004px);
  }
  28.571429% {
    transform: translate(433.083008px, 281.8px);
  }
  85.714286% {
    transform: translate(400px, 281.8px);
  }
  100% {
    transform: translate(400px, 281.8px);
  }
}
#e37mFRGIlBt16_ts {
  animation: e37mFRGIlBt16_ts__ts 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt16_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  28.571429% {
    transform: scale(1, 1);
  }
  85.714286% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(2, 2);
  }
}
#e37mFRGIlBt19_to {
  animation: e37mFRGIlBt19_to__to 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt19_to__to {
  0% {
    transform: translate(350.416992px, 261.798004px);
  }
  28.571429% {
    transform: translate(350.416992px, 281.8px);
  }
  85.714286% {
    transform: translate(400px, 281.8px);
  }
  100% {
    transform: translate(400px, 281.8px);
  }
}
#e37mFRGIlBt19_ts {
  animation: e37mFRGIlBt19_ts__ts 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt19_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  28.571429% {
    transform: scale(1, 1);
  }
  85.714286% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(2, 2);
  }
}
#e37mFRGIlBt22_to {
  animation: e37mFRGIlBt22_to__to 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt22_to__to {
  0% {
    transform: translate(267.75px, 201.8px);
  }
  28.571429% {
    transform: translate(267.75px, 281.8px);
  }
  85.714286% {
    transform: translate(400px, 281.8px);
  }
  100% {
    transform: translate(400px, 281.8px);
  }
}
#e37mFRGIlBt22_ts {
  animation: e37mFRGIlBt22_ts__ts 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt22_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  28.571429% {
    transform: scale(1, 1);
  }
  85.714286% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(2, 2);
  }
}
#e37mFRGIlBt25_to {
  animation: e37mFRGIlBt25_to__to 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt25_to__to {
  0% {
    transform: translate(185.082993px, 241.798004px);
  }
  28.571429% {
    transform: translate(185.082993px, 281.8px);
  }
  85.714286% {
    transform: translate(400px, 281.8px);
  }
  100% {
    transform: translate(400px, 281.8px);
  }
}
#e37mFRGIlBt25_ts {
  animation: e37mFRGIlBt25_ts__ts 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt25_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  28.571429% {
    transform: scale(1, 1);
  }
  85.714286% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(2, 2);
  }
}
#e37mFRGIlBt28_to {
  animation: e37mFRGIlBt28_to__to 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt28_to__to {
  0% {
    transform: translate(102.417px, 281.798004px);
  }
  28.571429% {
    transform: translate(102.417px, 281.798004px);
  }
  85.714286% {
    transform: translate(400px, 281.798004px);
  }
  100% {
    transform: translate(400px, 281.798004px);
  }
}
#e37mFRGIlBt28_ts {
  animation: e37mFRGIlBt28_ts__ts 3500ms linear 1 normal forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
}
@keyframes e37mFRGIlBt28_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  28.571429% {
    transform: scale(1, 1);
  }
  85.714286% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(2, 2);
  }
}
